
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


.player-you {
  font-weight: bold;
}

.player-owner {
  text-decoration: underline;
}

.choosing-team .teams-in-choosing .row .team {
  background-color:lightgreen;
}

.choosing-team .teams-in-choosing .row .player {
  background-color:lightblue;
}

.teams-in-game .row .team {
  background-color:lightgreen;
}

.teams-in-game .row .player {
  background-color:lightblue;
}

.card {
  background-color: lightyellow;
}
